<h3>Members</h3>
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Welcome <strong>@User.Identity!.Name</strong>!<br />
        Department: @User.Claims.FirstOrDefault(c => c.Type == "Department")?.Value <br />
        Shoesize: @User.Claims.FirstOrDefault(c => c.Type == "ShoeSize")?.Value <br />
    </p>
}
else
{
    <p>Du är inte inloggad...</p>
}